body{
  background-color:  #02010a;
  font-family: 'Dancing Script', cursive;

}

header{
  background-color:  #5b7989;
  color: white;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  text-align: left;
}
header h1{
    text-shadow: 2px 2px 0px #82c3a6;
}
nav{
  text-align: right;
  font-size: 20px;
  flex-wrap: wrap;
  }
img{
  box-shadow: 2px 2px 0px #02010a;
}

#img_ppal{
  padding: 10px;

}


#contenido {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
